html, body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
.wrapper {
    width: 1024px;
    margin: auto;
}

.logo {
    margin-top: 15px;
}

/*
* menu
*/

nav {
    background-color: rgb(8, 8, 8);
    color: #fff;
    position: static;
    top: 0;
    z-index: 200;
    height: 50px;
}
nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1,2rem;
}

.menu {
    width: 50%;
    justify-content: center;
    margin-top: 15px;
}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.menu > ul > li > a {
    text-decoration: none;
    color: #fff;
}

header {
    background: url("../img/bacground.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    letter-spacing: 3px;
    
}

.header-opacity {
    background-color: #222822;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}

.header-jumbotrom {
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    text-align: center;
}

.header-jumbotrom > h1 {
    color: #fff;
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
}

.intro {
    margin-top: 400px;
    margin-left: 550px;
    display: inline-block;
    padding: 12px 25px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
    text-align: center;
    position: absolute;
}

.btn-kenalan {
    color: #fff;
}
